:root {
  --black-background: #141414;
  --white: #fefefe;
  --red: #d34c4c;
  --gray: #b6b6b6;
  --green: #48cd8b;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .todoCreateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: var(--black-background);
    button {
      width: 80px;
      height: 80px;
      border: none;
      background-color: var(--white);
      margin-top: 50px;
      border-radius: 12px;
      font-size: 2rem;
      color: var(--black-background);
    }
  }
  .todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 100%;
    overflow-y: auto;
    .todoTitle{
      margin-top: 50px;
      font-size: 4rem;
      text-align: center;
    }
    .todoCounter {
      font-size: 1.5rem;
      text-align: center;
      line-height: 5px;
    }
    .todoSearchBar {
      width: 500px;
      height: 50px;
      border-radius: 12px;
      padding: 20px 20px;
      border: none;
      background-color: var(--white);
      margin: 50px 0;
      transition: .2s ease-out;
      outline: solid 2px var(--gray);
      &:focus {
        width: 600px;
        background-color: var(--white);
        outline: solid 2px var(--black-background);
      }
    }
    .todoItemContainer {
      width: 600px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--black-background);
      gap: 20px;
      padding: 100px 20px;
      border-radius: 12px;
      margin-bottom: 50px;
      .todoItem {
        opacity: 0%;
        position: relative;
        width: 80%;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        animation: reveal 1s ease both;
        .todoItem-cotendContainer {
          width: 80%;
          height: 100%;
          max-width: 450px;
          display: flex;
          align-items: center;
          gap: 15px;
          border-radius: 12px;
          background-color: var(--white);
          .todoItem-check {
            width: auto;
            height: auto;
            margin-left: 15px;
            &:hover {
              cursor: pointer;
            }
            .todoItem-svg {
              padding-top: 5px;
              width: 20px;
              height: 25px;
              &:hover {
                fill: var(--green);
              }
            }
            .todoItem-svg_true {
              fill: var(--green);
            }
          }
          .todoItem-text {
            padding: 5px;
            flex-grow: 1; /* Permite que el contenido crezca si es necesario */
            overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
            word-wrap: break-word;
          }
          .todoItem-text_completed {
            text-decoration: line-through;
          }
        }
        .todoItem-closeContainer {
          width: 50px;
          height: 50px;
          background-color: var(--white);
          color: var(--gray);
          border-radius: 12px;
          overflow: hidden;
          transition: ease-in .1s;
          &:hover {
            background-color: var(--red);
            cursor: pointer;
            transform: scale(1.2);
          }
          .todoItem-delete {
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .todoItem-svg {
              width: 100%;
              height: 100%;
              padding: 15px;
              &:hover {
                fill: var(--white);
              }
            }
          }
        }
        
      }
      .todoError-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .todoItem-svg {
          width: 80px;
          height: 80px;
        }
        .todoError-text {
          color: var(--white);
          font-size: 1.5rem;
        }
      }
      .todosEmpty {
        color: var(--white);
        font-size: 1.5rem;
      }
    }
  }
}
#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  .ModalContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-background);
    form {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      label {
        color: var(--white);
        font-size: 2rem;
      }
      textarea {
        width: 100%;
        height: 300px;
        padding: 20px;
        border-radius: 12px;
        font-size: 1.1rem;
        border: none;
        resize: none;
        outline: var(--gray) 2px solid;
        outline-offset: 4px;
        &:focus {
          outline: var(--green) 2px solid;
          outline-offset: 4px;
        }
      }
      .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        button {
          width: 150px;
          padding: 15px 0;
          border-radius: 12px;
          font-size: 1rem;
          background-color: transparent;
          cursor: pointer;
          transition: .2s ease-in;
          outline-offset: 2px;
        }
        .button-cancel{
          border: solid var(--white) 2px;
          color: var(--white);
          &:hover {
            border: var(--red);
            background-color: var(--red);
          }
          &:focus {
            outline: var(--red) 2px solid;
            border: var(--red);
            background-color: var(--red);
          }
          &:active {
            outline: var(--red) 2px solid;
            transition: 0s ease-in;
          }
        }
        .button-create {
          border: solid var(--green) 2px;
          color: var(--green);
          &:hover {
            background-color: var(--green);
            color: var(--white);
          }
          &:focus {
            outline: var(--green) 2px solid;
            background-color: var(--green);
            color: var(--white);
          }     
          &:active {
            outline: var(--green) 2px solid;
            transition: 0s ease-in;
          }
        }
      }
    }
  }
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  div:nth-child(2) {
    animation-delay: -0.5s;
  }
}

.none {
  display: none;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes reveal {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes ok {
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}