:root {
  --black-background: #141414;
  --white: #fefefe;
  --red: #d34c4c;
  --gray: #b6b6b6;
  --green: #48cd8b;
}

section {
  display: flex;
  width: 100%;
  height: 100vh;
  .todoCreateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color:  var(--black-background);
    button {
      width: 250px;
      height: 80px;
      border: none;
      background-color: var(--white);
      margin-top: 50px;
      border-radius: 12px;
      font-size: 1.2rem;
      color: var(--black-background);
    }
  }
  .todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    .todoTitle{
      font-size: 4rem;
      text-align: center;
    }
    .todoCounter {
      font-size: 1.5rem;
      text-align: center;
      line-height: 5px;
    }
    .todoSearchBar {
      width: 500px;
      height: 50px;
      border-radius: 12px;
      padding: 0 20px;
      border: none;
      background-color: var(--white);
      margin: 50px 0;
      transition: .2s ease-out;
      outline: solid 2px var(--gray);
      &:focus {
        width: 600px;
        background-color: var(--white);
        outline: solid 2px var(--black-background);
      }
    }
    .todoItemContainer {
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--black-background);
      gap: 20px;
      padding: 100px 20px;
      border-radius: 12px;
      transition: linear .3s;
      .todoItem {
        position: relative;
        width: 80%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .todoItem-cotendContainer {
          width: 80%;
          height: 100%;
          max-width: 450px;
          display: flex;
          align-items: center;
          gap: 15px;
          border-radius: 12px;
          background-color: var(--white);
          .todoItem-check {
            width: auto;
            height: auto;
            margin-left: 15px;
            &:hover {
              cursor: pointer;
            }
            .todoItem-svg {
              width: 20px;
              height: 20px;
              &:hover {
                fill: var(--green);
              }
            }
            .todoItem-svg_true {
              fill: var(--green);
            }
          }
          .todoItem-text {
            font-size: 1.1rem;
          }
          .todoItem-text_completed {
            text-decoration: line-through;
          }
        }
        .todoItem-closeContainer {
          width: 50px;
          height: 50px;
          background-color: var(--white);
          color: var(--gray);
          border-radius: 12px;
          overflow: hidden;
          &:hover {
            background-color: var(--red);
            cursor: pointer;
          }
          .todoItem-delete {
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .todoItem-svg {
              width: 100%;
              height: 100%;
              padding: 15px;
              &:hover {
                fill: var(--white);
              }
            }
          }
        }
        
      }
    }
  }
}


@keyframes frame {
  0% {

  }
  100% {

  }
}